extends layout

block content
  .logo
  h5 Welcome to #{title}
  .description
    p This is the implementation of the BrAPI endpoint provided by the Portuguese node of ELIXIR. This endpoint is focused on woody plants but is open to plant data in general. 
    p &nbsp;  

  p PHENO contains data on the following species:
  - var count=0 
  each specie in species
    - count++
    .card
      .card-block
        h5.card-title #{specie.genus} #{specie.species} (#{specie.crop})
      .card-text
        div(id=accordion,role="tablist",aria-multiselectable="true")
          .card
            .card-header(role="tab",id="headingOne")
              h5.mb-0 
                a(data-toggle="collapse",data-parent="#accordion",href="#collapse"+count,arria-expanded="true", aria-controls="collapse"+count) #{specie.program.name}
            .collapse.show(id="collapse"+count,role="tabpanel",aria-labelledby="heading"+count)    
              .card-block
                .container-fluid
                  .row
                    .col-md-6
                      p Abbreviation: 
                        strong #{specie.program.abbreviation}
                      p Objective: 
                        strong #{specie.program.objective}
                      p LeadPerson: 
                        strong 
                          a(href="https://orcid.org/"+specie.program.orcid,target="_blank") #{specie.program.honorific} #{specie.program.leadPerson}
                    .col-md-6
                      .trials
                        h5 Trials:
                        each trial in specie.listTrials
                          p #{trial.name}
                      .publication
                        a.btn.btn-primary(href=specie.study.publication,target="_blank",tabindex="-1",role="button",aria-disabled="true") Associated Publication
  .md !{overviewMD}


