extends layout

block content
  h5 Welcome to #{title}
  p This is the implementation of the BrAPI endpoint provided by the Portuguese node. This endpoint is focused on woody plants but is open to plant data in general.  

  p The endpoint contains data on the following species:
  - var count=0 
  each specie in species
    - count++
    .card
      .card-block
        h5.card-title #{specie.genus} #{specie.species} (#{specie.crop})
      .card-text
        div(id=accordion,role="tablist",aria-multiselectable="true")
          .card
            .card-header(role="tab",id="headingOne")
              h5.mb-0 
                a(data-toggle="collapse",data-parent="#accordion",href="#collapse"+count,arria-expanded="true", aria-controls="collapse"+count) #{specie.program.name}
            .collapse.show(id="collapse"+count,role="tabpanel",aria-labelledby="heading"+count)    
              .card-block
                p Abbreviation: #{specie.program.abbreviation}
                p Objective: #{specie.program.objective}
                p LeadPerson: 
                  a(href="https://orcid.org/"+specie.program.orcid,target="_blank") #{specie.program.honorific} #{specie.program.leadPerson}
  .md !{overviewMD}


