extends layout

block content
  h1 #{germplasmData.defaultDisplayName}
  p 
    strong #{germplasmData.Specie.genus} #{germplasmData.Specie.species} (#{germplasmData.Specie.crop})
  p Holding institution: 
    strong #{germplasmData.holdingInstitution.name}, #{germplasmData.holdingInstitution.location}, #{germplasmData.holdingInstitution.country}
    - germplasmData.donorInstitute ? donorInstitute=germplasmData.donorInstitute : donorInstitute="n/a"
  .map !{map}
  p Donor institution:  
    strong #{donorInstitute}
  p Accession number: 
    strong #{germplasmData.accessionNumber}
  p Germplasm PUI: 
    strong #{germplasmData.germplasmPUI}
  p Seed source: 
    strong #{germplasmData.seedSource}
  p Acquisition date: 
    strong #{germplasmData.acquisitionDate}
  p Biological status of accession code: 
    strong #{germplasmData.biologicalStatusOfAccessionCode}
  p Country of origin: 
    strong #{germplasmData.country_of_origin.name} (#{germplasmData.country_of_origin.code}) 
  table.table
    thead
      th Program name
      th Study name
      th Start date
      th End date
    tbody
      each study, count in germplasmData.Studies
        tr
          td #{study.program} 
          td
            a(href="/brapi/datasets/studies/#{study.id}") #{study.name}
            td #{study.startDate} 
            td #{study.endDate}