extends layout

block content
  .logo
  h5 Welcome to #{title.split(" -")[0]}, an implementation of the Breeding API (
    a(href="https://brapi.org") BrAPI
    |) provided by the 
    a(href="https://biodata.pt/about_elixirpt") Portuguese node of ELIXIR.
  .description
    p PHENO aims to provide access to plant phenotypic datasets, with a major focus on the woody plant domain.
    p Plant phenotyping is central to plant research and breeding and is becoming increasingly throughput, with large amounts of data being generated from diverse experimental settings. Access to phenotypic datasets annotated according to widely accepted standards contributes for data interoperability, enabling powerful genotype-phenotype association studies. 
    p Woody plants are a major natural resource in Europe, with a huge ecological and economic impact, supporting millions of jobs across diverse industries (e.g., wine, fruit, olive oil, coffee, paper, timber, cork) and strongly contributing to the European GDP. In Portugal, woody plants represent 10% of the exports, and are a central research domain in both academia and industry. The access to datasets provided by PHENO aims to support research and breeding of these species for traits of interest for researchers, producers and industry stakeholders.   
  p PHENO currently contains data on the following species:
  - var count=0 
  each specie in species
    - count++ 
    .card
      .card-body
        h5.card-title #{specie.genus} #{specie.species} (#{specie.crop})
      .card-text
        each program in specie.programs
          - count++
          div.accordion(id="accordionSpecies")
            .card
              .card-header(id="heading"+count)
                h5.mb-0 
                  button.btn.btn-link(type="button",data-toggle="collapse",data-target="#collapse"+count,arria-expanded="true",aria-controls="collapse"+count) #{program.name}
              .collapse(id="collapse"+count,aria-labelledby="heading"+count,data-parent="#accordionSpecies")    
                .card-block
                  .container-fluid
                    .row
                      .col-lg-4.col-md-12
                        h4.card-header Program details
                        table.table
                          tbody
                            tr
                              th Abbreviation: 
                              td #{program.abbreviation}
                            tr
                              th Objective: 
                              td #{program.objective}
                            tr
                              th LeadPerson: 
                              td 
                                a(href="https://orcid.org/"+program.orcid,target="_blank") #{program.leadPerson}
                      .col-lg-8.col-md-12
                          h4.card-header Trial list
                          table.table.table-hover
                            thead
                              tr
                                th Trial 
                                th Study 
                              tbody
                                each study in programs[program.id]  
                                  tr.table-striped
                                    td 
                                      a(href="/brapi/datasets/trial/"+study.trialId,target="_blank") #{study.trialName}
                                    td 
                                      a(href="/brapi/datasets/study/"+study.studyId,target="_blank") #{study.studyName}
                                  tr.table-active  
                                    td(colspan=2)
                                      .publication
                                        a.btn.btn-primary(href=study.trialAdditionalInfo.publication,target="_blank",tabindex="-1",role="button",aria-disabled="true") Associated Publication
                                        a.btn.btn-primary(href=study.trialAdditionalInfo.datalink,target="_blank",tabindex="-1",role="button",aria-disabled="true") Source data
  p The current version of the data in this database is #{hash}. Database dumps can be downloaded 
    a(href="https://raw.githubusercontent.com/forestbiotech-lab/PHENO/master/SQL/LATEST_dump.sql",target="_blank") here.
  .md !{overviewMD}


