extends layoutPhenotyping

block content
  .container-fluid
    .col-xs-12.col-sm-12.col-md-12
      p(style="font-size:2.5rem;") Location grid Study !{study} Plot !{Plot} - Block !{block} - Row !{row} - Pot !{pot}
      form
        .form-check.form-check-inline
          label.form-check-label(for='plot',style="font-size:2rem;") Plot:
          select#plot.form-control.form-control-lg(style="font-size:2rem;")
            option !{plot}
            option 1
            option 2
            option 3
        .form-check.form-check-inline
          label.form-check-label(for='block',style="font-size:2rem;") Block:
          select#block.form-control.form-control-lg(style="font-size:2rem;")
            option !{block}
            option 1
            option 2
            option 3
        .form-check.form-check-inline
          label.form-check-label(for='row',style="font-size:2rem;") Row:
          select#row.form-control.form-control-lg(style="font-size:2rem;")
            option !{row}
            option 1
            option 2
            option 3
        .form-check.form-check-inline
          label.form-check-label(for='plot',value=pot,style="font-size:2rem;") Pot:
          select#pot.form-control.form-control-lg(style="font-size:2rem;")
            option !{pot}
            option 1
            option 2
            option 3
        .form-group
          label(for='trait',style="font-size:4rem;") Select trait
          select#trait.form-control.form-control-lg(style="font-size:2.5rem;")
            option leaf length CO:123121
            option leaf color CO:34242
            option plant state CO:023489
            option height CO:589389
            option root derivation CO:98989
        .form-group.form-check-inline
          label(for='exampleFormControlInput2',style="font-size:2.5rem;") Valor 2019/09/22
          input#exampleFormControlInput2.form-control.form-control-lg(type='number', placeholder='3.2',value="32.2",readonly,style="font-size:4rem;")
        .form-group.form-check-inline
          label(for='exampleFormControlInput2',style="font-size:2.5rem;") Valor 2019/10/02
          input#exampleFormControlInput2.form-control.form-control-lg(type='number', placeholder='33.2',value="22.2",readonly,style="font-size:4rem;")
        .form-group.form-check-inline
          label(for='exampleFormControlInput2',style="font-size:2.5rem;") Valor 2019/19/10
          input#exampleFormControlInput2.form-control.form-control-lg(type='number', placeholder='3.2',value="22.2",readonly,style="font-size:4rem;")
        .form-group
          label(for='exampleFormControlInput2',style="font-size:2.5rem;") Value
          input#exampleFormControlInput2.form-control.form-control-lg(type='number', placeholder='3.2',style="font-size:4rem;")
        .form-group
          label(for='exampleFormControlTextarea1',style="font-size:2.5rem;") Example textarea
          textarea#exampleFormControlTextarea1.form-control.form-control-lg(rows='3',style="font-size:4rem;")
  .d-flex.p-2  
    button.p-4.btn.btn-success.btn-lg.btn-block(type="button",row="-1",pot="0",style="font-size:4rem;") Up (Submit)
  .d-flex.p-2
    button.p-4.btn.btn-primary.btn-lg.btn-block(type="button",row="0",pot="-1",style="font-size:4rem;") Left (Submit)
    button.p-4.btn.btn-primary.btn-lg.btn-block(type="button",row="0",pot="1",style="font-size:4rem;") Right (Submit)
  .d-flex.p-2
    button.p-4.btn.btn-success.btn-lg.btn-block(type="button",row="1",pot="0",style="font-size:4rem;") Down (Submit)