extends layoutPhenotyping

block content
  .container.min-vw-100.vw-100
    .container
      p Location grid Plot 1 - Block 2 - Row 3 - Pot 5
      .row
        .col-sm-1
          p .
        .col-sm-1
          p .
        .col-sm-1
          p .          
        .col-sm-1
          p .          
        .col-sm-1
          p .
        .col-sm-1
          p .
        .col-sm-1
          p .
        .col-sm-1
          p .                                        
      .row
        .col-sm-1
          p .
        .col-sm-1
          p .
        .col-sm-1
          p .          
        .col-sm-1
          p .          
        .col-sm-1
          p .
        .col-sm-1
          p .
        .col-sm-1
          p .
        .col-sm-1
          p .
      .row
        .col-sm-1
          p .
        .col-sm-1
          p .
        .col-sm-1
          p .          
        .col-sm-1
          p .          
        .col-sm-1
          p 0
        .col-sm-1
          p .
        .col-sm-1
          p .
        .col-sm-1
          p .          

    form
    .form-group
      label(for='exampleFormControlInput1') Location
      input#exampleFormControlInput1.form-control.form-control-lg(type='text', placeholder='Plot x;Block x; Row 1; Pot 2')
    .form-check.form-check-inline
      label.form-check-label(for='plot') Plot:
      select#plot.form-control
        option !{plot}
        option 1
        option 2
        option 3
    .form-check.form-check-inline
      label.form-check-label(for='block') Block:
      select#block.form-control
        option !{block}
        option 1
        option 2
        option 3
    .form-check.form-check-inline
      label.form-check-label(for='row') Row:
      select#row.form-control
        option !{row}
        option 1
        option 2
        option 3
    .form-check.form-check-inline
      label.form-check-label(for='plot',value=pot) Pot:
      select#pot.form-control
        option !{pot}
        option 1
        option 2
        option 3
    .form-group
      label(for='trait') Select trait
      select#trait.form-control.form-control-lg
        option leaf length CO:123121
        option leaf color CO:34242
        option plant state CO:023489
        option height CO:589389
        option root derivation CO:98989
    .form-group.form-check-inline
      label(for='exampleFormControlInput2') Valor 2019/09/22
      input#exampleFormControlInput2.form-control.form-control-lg(type='number', placeholder='3.2',value="32.2",readonly)
    .form-group.form-check-inline
      label(for='exampleFormControlInput2') Valor 2019/10/02
      input#exampleFormControlInput2.form-control.form-control-lg(type='number', placeholder='33.2',value="22.2",readonly)
    .form-group.form-check-inline
      label(for='exampleFormControlInput2') Valor 2019/19/10
      input#exampleFormControlInput2.form-control.form-control-lg(type='number', placeholder='3.2',value="22.2",readonly)
    .form-group
      label(for='exampleFormControlInput2') Value
      input#exampleFormControlInput2.form-control.form-control-lg(type='number', placeholder='3.2')
    .form-group
      label(for='exampleFormControlTextarea1') Example textarea
      textarea#exampleFormControlTextarea1.form-control.form-control-lg(rows='3')
    .container-fluid
      .row
        .col-sm-4
        .col-sm-4
          button.w-100.p-3b.btn.btn-primary(type="button",row="-1",pot="0") Up (Submit)
        .col-sm-4
      .row
        .col-sm-2
        .col-sm-4
          button.w-100.p-3b.btn.btn-primary(type="button",row="0",pot="-1") Left (Submit)
        .col-sm-4
          button.w-100.p-3b.btn.btn-primary(type="button",row="0",pot="1") Right (Submit)
        .col-sm-2
      .row
        .col-sm-4
        .col-sm-4
          button.w-100.p-3b.tn.btn.btn-primary(type="button",row="1",pot="0") Down (Submit)